*{
    margin: 0px;
    padding: 0px;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.container {
    
    display: grid;
    /*justify-items: start;
    align-content : space-between;
    justify-items: start;
    align-items: start;*/
    grid-template-columns: 20% 20% 20% 20% 20%;
}
a {
    text-align: center;
    margin: 20px;
    padding: 20px;
   
}

