* {
    inline-size: auto;
    height: auto;
    width: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

.container {
    display: grid;
    position: relative;
    margin: auto;
    grid-gap: 5px;
    grid-template-areas: "header_left header_right"
                         "nav nav"
                         "left right"
                         "footer footer";
    grid-template-columns: 70% 30% ;
    grid-template-rows: 50px 30px 600px 20px;

}


.header_left {
    padding: 10px;
    grid-area: header_left;
    text-align: left;
    color: #33C3F0;    
}

.header_right {
    grid-area: header_right;
    margin-left: 90%;
    
    
}
.header_right img {
    height:30px;
    width: 30px;
    border-radius: 50%;
    float: center;
    margin-right: 50%;
    background-color: #33C3F0;
   
}


nav {
    grid-area: nav;
    opacity: 0.5;
    padding: 5px;
    width: 100%;
    float: left;
    text-align: left;
    background-color: beige;

}


.left {
    grid-area: left; 
    border-radius: 20px;
    background-color: black;
    opacity: 0.5;    /* dodgerblue;*/
    color: whitesmoke;
    text-align: justify;
    line-height:1.4em;
    padding: 10px;
    font-weight: normal;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
    /*overflow-y: scroll;*/

}

.left a { text-decoration: none;
    color: #33C3F0;
}


.right {
    grid-area: right;
    border-radius: 10px;
    background-color: whitesmoke;/* beige;*/
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: beige;
    text-align: center;
    text-decoration: underline;
}
